
.nav {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: calc(100vw - 200px);
    padding: 2rem 0;
}

.nav_list li {
    margin: 0 2rem;
    cursor: pointer;
}

.nav_socials li {
    margin: 0 0.9rem;
    cursor: pointer;
}