
.nav {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 85rem;
    padding: 2rem .9rem;
}

.logo {
    cursor: pointer;
}

.nav_list li {
    margin: 0 1rem;
    cursor: pointer;
}

.nav_socials li {
    margin: 0 0.9rem;
    cursor: pointer;
}