html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Tiro Tamil', serif; 
  font-weight: 500;
  overflow-x: hidden;
  background: #efefef;
  color: rgba(0, 0, 0, 0.8);
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,h2 {
  font-weight: 300;
}

ul {
  list-style: none;
  display: flex;
}

.about {
  max-width: 60rem;
  margin: 5rem auto;
}

.about > * {
  padding: 1.5rem .9rem;
}