.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  text-align: center;
}

.title {
  font-size: 3rem;
  letter-spacing: 0.15px;
}

.desc {
  margin: 1rem 0;
}

.booking {
  background: orangered;
  color: #fff;
  padding: 1rem;
  margin: .5rem 0;
}

.project_container {
  max-width: calc(100vw - 100px);
  margin: 3rem auto;
}

.project{
  color: #000;
  position: relative;
}

.splide__slide {
  margin: 2rem 0;
  height: 300px;
  width: 348.33px !important;
}

.project img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.project_contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}