.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  text-align: center;
}

.title {
  font-size: clamp(2rem, 5vw, 3.2rem);
  letter-spacing: 0.15px;
}

.desc {
  margin: 1rem 0;
}

.booking {
  background: rebeccapurple;
  color: #fff;
  padding: 1rem;
  margin: .5rem 0;
}

.project_container {
  margin: 3rem .9rem;
}

.project{
  color: #000;
  position: relative;
  height: 300px;
  width: 348.33px !important;
}

.splide__slide {
  margin: 2rem 0;
  height: 300px;
  width: 348.33px !important;
}

.project img{
  border-radius: 5px;
  object-fit: cover;
}

.project_contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: .3rem 0;
}