.main {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9) 60%, #fff 40%);
  color: #fff;
  padding-top: 2rem;
  padding-left: 75px;
  display: grid;
  grid-template-columns: 0.4fr 1fr;
}
.contents {
  display: block;
  position: relative;
}

.title {
  font-size: 3rem;
  letter-spacing: 0.15px;
  font-family: "Cinzel", serif;
}

.desc {
  margin: 1rem 0;
}

.works {
  position: relative;
}

.work {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.work_container {
  margin: 0 1rem;
  color: #000;
}

.work_container img {
  height: 620px;
  width: 348.33px;
  object-fit: cover;
}

.work_name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.arrows {
  display: flex;
  margin-top: 4rem;
}

.arrow_left {
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content:  center;
  width: 64px;
  height: 64px;
  border-radius: 100px;
  cursor: pointer;
}
.arrow_right {
  margin-left: 1rem;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content:  center;
  width: 64px;
  height: 64px;
  border-radius: 100px;
  cursor: pointer;
}
